POSTGRES_DB=hda
POSTGRES_USER=hda
POSTGRES_PASSWORD=hda
PULSAR_URL=pulsar://broker:6650
WORK_CREATED_TOPIC=persistent://public/default/hda-work-created-v1
WORK_CREATED_SUBSCRIPTION=hda-provider-matching-v1
