attrs==22.1.0
click==8.1.3
coverage==6.5.0
greenlet==3.2.3
iniconfig==1.1.1
packaging==21.3
pluggy==1.6.0
pulsar-client==3.13.0
pulsar-client[avro]==3.13.0
py==1.11.0
PyDispatcher==2.0.6
pyparsing==3.0.9
pytest==8.4.0
PyYAML==6.0.2
SQLAlchemy==2.0.41
tomli==2.0.1
psycopg2-binary==2.9.10
